<div class="w3-main" style="margin-left:250px">
    <div class="container">
  
   
      <div class="left-column">
        <img data-image="black" src={{product.pic}} width="400" height="400">
      </div>
  
  
    
      <div class="right-column">
  

        <div class="product-description">
          <h1><span>Tên sản phẩm: {{product.name}}</span></h1><br>
          <span>Mô tả: {{product.detail}}</span>
        </div>
       
        
        <div class="product-price">
          <span>Giá: ${{product.price}}</span>
          <a class="cart-btn">Add to cart</a>
        </div>
      </div>
    </div>
  </div>  
